<section class="bg-slate-800 h-10 flex flex-col justify-center">
    <div class="my-auto"><h4 class="text-center text-white tracking-[0.2em]">Made by &copy Subham</h4></div>
</section>
<script src="/css/script.js"></script>
</body>
</html>